langchain
langchain-groq
langchain-openai
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
unstructured[docx]
openpyxl
jq
matplotlib
transformers
###Embeddings 
langchain-huggingface
sentence-transformers
langchain-experimental
rank_bm25
wikipedia